<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todayeatapp.home.mapper.CategoryMapper">

    <resultMap id="CategoryMap" type="com.todayeatapp.home.entity.Category">
        <id property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryIcon" column="category_icon"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="isActive" column="is_active"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>